* {
  border: 1px solid red;
}

body {
  background-color:black;
}
/* div태그 - 공통사항 일괄처리 */
.line {
  position: absolute;
  background-color:white;
}

.horizontal {
  width: 100%;
  height: 1px;/* 선 두께*/
  top: 50%;/* 수평선 가운데 배치*/
}

.vertical {
  height: 100%;
  width: 1px;
  left: 50%;
}

/*타겟도 중앙에 배치해보자*/
.target {
    position: absolute; /* 절대 위치 지정 (교차점 중앙에 오도록) */
    top: 50%; /* 위에서 50% */
    left: 50%; /* 왼쪽에서 50% */
    /*translate는 부모의 요소가 아니라 자기자신의 크기 기준이다
    translate(x,y)는 요소 자신의 크기 기준으로 움직인다.
    x축 방향으로 자신의 너비의 절반만큼 왼쪽으로 이동. 
    y축 방향으로 자신의 높이의 절반만큼 위로 이동.
    결론: 요소(target.png)의 자신을 가로,세로 절반만큼 반대로 이동시켜서 중심을 정렬하는것이다.  
    */
    transform: translate(-50%, -50%); /* 이미지 자신의 크기 기준으로 중앙 정렬 */
}

/* 좌표를 출력하는 라벨 위치와 글자색 */
/* span */
.label {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
}

